@model Product

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>ProductID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>    
    <tr>
        <th>@Model.ProductID</th>
        <th>@Model.Name</th>
        <th>@Model.Price</th>
        <th>@Model.CategoryID</th>
        <th>@Model.OnSale</th>
        <th>@Model.StockLevel</th>
    </tr>
</table>

<div style="padding:4px 4px 4px 0px;">
    @using (Html.BeginForm("UpdateProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" class="btn btn-primary" value="Update Product" />
    }
</div>

<div>
    @using(Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID"/>
        <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')" value="Delete Product"/>
    }
</div>

